:root {
  --bg-color: #7dbcea;
  --bg-text-color: #fff;
}


.header{
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--bg-text-color);
  line-height: 64px;
  background-color: var(--bg-color);
}

.appName{
  font-weight: bold;
  color: var(--bg-text-color);
  white-space: nowrap;
}

.footer {
  text-align: center;
  color: var(--bg-text-color);
  background-color: var(--bg-color);
}

.content{
  padding: 20px;
  width: 100%;
  max-width: 800px;
  align-self: center;
}

